<form align="right" action="/logout" method="GET">
  <input type="submit" value="Logout!">
  </form>
<h1>PetBooK</h1>
<h2> Edit Post </h2>



<form action="/posts/<%= @post.id %>/single" method="post">
  <input type="hidden" name="_method" value="patch">
  <ul>
    <li>
      <label for="owner_name">Owner_name</label>
      <input id="owner_name" type="text" required="required" name="post[owner_name]" value="<%= @post.owner_name %>" />
    </li>
    <li>
      <label for="location_name">Location_name</label>
      <input id="location_name" type="text" required="required" name="post[location_name]"  value="<%= @post.location_name %>"
      />
    </li>
    <li>
      <label for="dogs">Dogs</label>
      <input id="dogs" type="number" required="required" name="post[dogs]"  value="<%= @post.dogs %>"
      />
    </li>
    <li>
      <label for="cats">Cats</label>
      <input id="cats" type="number" required="required" name="post[cats]"  value="<%= @post.cats %>"
      />
    </li>
    <li>
      <label for="birds">Birds</label>
      <input id="birds" type="number" required="required" name="post[birds]"  value="<%= @post.birds %>"
      />
    </li>
  </ul>
  <input type="submit" />
</form>
<form method="post" action="/posts/<%=@post.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Post">
</form>
       <form align="right" action="/logged_in" method="GET">
        <input type="submit" value="Home!">
       </form>