<h1>PetBooK</h1>  
<p> Welcome, <%= current_user.email %>
<h2> Posts </h2>


<div>  
      <li> 
       <% @posts = Post.where(user_id:(current_user.id)).each do |pups| %>
       Owner Name: <%= pups.owner_name %><br>
       Location: <%= pups.location_name %><br>
       Total number of Dogs: <%= pups.dogs %> <br>
       Total number of Cats: <%= pups.cats %> <br>
       Total number of Birds: <%= pups.birds %><br>
       User id: <%= pups.user_id%><br>
       Post ID: <%= pups.id%><br>
       <form action="/posts/<%=pups.id%>/edit" method="GET">
       <input type="submit" value="edit" />
        </form>
       <br>
       <% end %>
       
       <br>
      </li>
      
</div>
