


<h1>PetBooK</h1>  
<p> Welcome, <%= current_user.email %>
<h2> Your Post! </h2>
   
   
<div> 
       <li>  Owner Name: <%= Post.last.owner_name %><br>
       Location: <%= Post.last.location_name %><br>
       Dogs: <%= Post.last.dogs %> <br>
       Cats: <%= Post.last.cats %> <br>
       Birds: <%= Post.last.birds %><br>
 <br>
 </div>
 

  