<h1>PetBooK</h1>  
<p> Welcome, <%= current_user.email %>
<h2> Posts </h2>
   
   
  
  

 <li>  Owner Name: <%= Post.last.owner_name %><br>
       Location: <%= Post.last.location_name %><br>
       Dogs: <%= Post.last.dogs %> <br>
       Cats: <%= Post.last.cats %> <br>
       Birds: <%= Post.last.birds %><br>
 <br>
 </li>
  
       
   
       
       
 
  

 
 
 
 
 
 
  